name: Github

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    environment:  
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v6
        with: 
          node-version: 24
          cache: "npm"

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Setup pages
        uses: actions/configure-pages@v5

      - name: Upload
        uses: actions/upload-pages-artifact@v4
        with:
          path: "./dist"

      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
